auth_enabled: false

server:
  http_listen_port: 3100

common:
  path_prefix: /loki
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory

ingester:
  wal:
    enabled: true
    dir: /loki/wal
    flush_on_shutdown: true
  lifecycler:
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1
  chunk_idle_period: 30m
  chunk_retain_period: 1m
  max_chunk_age: 3h
  chunk_target_size: 2097152
  chunk_encoding: snappy

schema_config:
  configs:
    - from: 2024-01-01
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

storage_config:
  tsdb_shipper:
    active_index_directory: /loki/tsdb-index
    cache_location: /loki/tsdb-cache
  filesystem:
    directory: /loki/chunks

compactor:
  working_directory: /loki/compactor
  retention_enabled: true
  delete_request_store: filesystem
  compaction_interval: 10m
  retention_delete_delay: 2h
  retention_delete_worker_count: 50

limits_config:
  allow_deletes: true
  ingestion_rate_mb: 8
  ingestion_burst_size_mb: 16
  retention_period: 720h
  max_label_names_per_series: 15
  reject_old_samples: false
  reject_old_samples_max_age: 168h
  unordered_writes: true
  max_line_size: 256KB
  max_entries_limit_per_query: 20000
  split_queries_by_interval: 30m
  max_query_series: 500
  query_timeout: 2m
  max_query_parallelism: 64
