global:
  scrape_interval: 15s
  evaluation_interval: 15s
rule_files:
- /etc/prometheus/rules/*.yml
scrape_configs:
- job_name: prometheus
  static_configs:
  - targets:
    - prometheus:9090
- job_name: node_exporter
  static_configs:
  - targets:
    - node_exporter:9100
- job_name: cadvisor
  static_configs:
  - targets:
    - cadvisor:8080
- job_name: loki
  static_configs:
  - targets:
    - loki:3100
- job_name: alloy
  static_configs:
  - targets:
    - alloy:12345
