global:
  scrape_interval: 15s
  evaluation_interval: 15s
rule_files:
- /etc/prometheus/rules/*.yml
scrape_configs:
- job_name: prometheus
  static_configs:
  - targets:
    - prometheus:9090
- job_name: host-monitor
  static_configs:
  - targets:
    - host-monitor:9100
- job_name: docker-metrics
  static_configs:
  - targets:
    - docker-metrics:8080
- job_name: loki
  static_configs:
  - targets:
    - loki:3100
- job_name: alloy
  static_configs:
  - targets:
    - alloy:12345
- job_name: wireguard
  static_configs:
  - targets:
    - 172.20.0.1:9586
    labels:
      service: wireguard
      interface: wg0
